html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
label,
footer,
input[type=button] {
  font-family: monospace;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}